{% extends 'NavBar.html' %}

{% block body %}
    <div className="container-fluid" style="backgroundColor:#E5E5E5;paddingTop:20px">
        <div className="container">
            <br/><br/><br/><br/>
            <h2>Medical Document Scanner</h2>
            <br/>
            <div className="container bg-light">
                <div className="row">
                    <div className="col-sm-2" style="alignItems:center;paddingLeft:30px">
                        <br/>
                        <i className="fa fa-book" aria-hidden="true" style="fontSize:40px"></i>
                    </div>
                    <div className="col-sm-10" style="paddingTop:20px">
                        <h4 style="background-color: #0f113f;color:white">Scan the Medical Documents</h4>
                    </div>
                </div>
                <div className="row">
                    <div className="col-sm-2"></div>
                        <div className="col-sm-10">
                            <p>Medical Document Scanner is a free online OCR(Optical Character Recognition) service and can analyze the text in the image you upload. The function of OCR is to help digitize documents in a timely manner and fashion.
                                            Instead of retyping files or manually typing out text within image files, you can use OCR to automatically scan and recognize text within your image or your scanned document.
                            </p>
                        </div>
                    </div>
                    <br/>
                </div>
                <br/>
                <div className="row">
                    <div className="col-sm-2"></div>
                        <div className="col-sm-10">
                            <h4>
                                Upload the Medical Documents to Scan and Extract Text
                            </h4>
                        </div>
                    </div>
                    <br/>
                </div>
                <div className="row">
                    <div className="col-sm-2"></div>
                        <div className="col-sm-10">
                            <div className="row">
                                <form action="#" method="POST" enctype="multipart/form-data">
                                    <div class="input-group">
                                        <input type="file" class="form-control" name="image_name" required>
                                        <input type="submit" value="Upload Image" class="btn btn-primary">
                                    </div>
                                </form>
                                <br>
                                {% if fileupload %}
                                    <br/>
                                    <div class="row">
                                        <button class="btn btn-primary" id="sendData">Wrap Document and Extract Text</button>
                                    </div>
                                {% endif %}
                                <br>
                            </div>
                            <!--Creating CANVAS-->
                            {% if fileupload %}
                                <p>{{ message }}</p>
                                <div class="row">
                                    <div class="col">
                                        <canvas id="canvas" style="max-width: 100%; height: auto;"></canvas>
                                    </div>
                                    <div class="col" id="loader" align="center">
                                    </div>
                                </div>
                                <script>
                                    loadPoints({{ points | tojson }})
                                </script>
                            {% endif %}
                            </div>
                        <br/>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="card">
                                <img class="card-img-top" style="height:200px" src="/static/media/scanning.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Upload Image</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                              </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img class="card-img-top" style="height:200px" src="/static/media/scanning2.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Wrap Document and Extract</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                              </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img class="card-img-top" style="height:200px" src="/static/media/scanning.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Entity Exatraction</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                              </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <br/>
        <!--  
        <br>
    <h4>
        Upload the Medical Documents to Scan and Extract Text
    </h4>
    <br>
    <div class="row">
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <input type="file" class="form-control" name="image_name" required>
                <input type="submit" value="Upload Image" class="btn btn-primary">
            </div>
        </form>
        <br>
        {% if fileupload %}
        <br/>
        <div class="row">
            <button class="btn btn-primary" id="sendData">Wrap Document and Extract Text</button>
        </div>

    {% endif %}
    
    </div>-->  
     <!--Creating CANVAS-->
     <!--{% if fileupload %}
     <p>{{ message }}</p>
     <div class="row">
         <div class="col">
             <canvas id="canvas" style="max-width: 100%; height: auto"></canvas>
 
         </div>
         <div class="col" id="loader" align="center">
         </div>
     </div>

     <script>
         loadPoints({{ points | tojson }})
     </script>
     
 {% endif %}-->

{% endblock body %}
